:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 1fr;
}

.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: white;
  text-align: center;
}

.main-content {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: lightslategray;
}

.sidebar {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 2/-1;
  background-color: lightskyblue;
  text-align: center;
}

#bookElement {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/*dialog styling*/
dialog {
  border: 4px solid lightskyblue;
  border-radius: 16px;
}
legend {
  text-align: start;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
::backdrop {
  background-color: black;
  opacity: 0.5;
}
input[type="text"],
input[type="number"] {
  width: 200px;
  height: 20px;
}
fieldset {
  padding: 20px;
  border: 2px solid lightskyblue;
}
fieldset > div {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

#radioField > div {
  justify-content: flex-start;
}
form button {
  border: none;
  border-radius: 16px;
  background-color: lightskyblue;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

form button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form button:active {
  background-color: rgb(95, 165, 209);
}

/*book card styling*/

.book {
  overflow: auto;
  width: 300px;
  border: 2px solid black;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
}
.book h2,
.book p {
  margin: 0;
}
.book div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.1rem;
}

.book p {
  font-size: 1.3rem;
  background-color: rgb(202, 209, 216);
  border-radius: 8px;
  border: 2px solid black;
  padding: 5px;
  padding-left: 15px;
}
.deleteButton {
  margin-left: 150px;
  margin-top: 20px;
}
.book button {
  border: none;
  border-radius: 16px;
  background-color: lightskyblue;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.book:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.readButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.readButton:active {
  background-color: rgb(92, 165, 211);
}

.deleteButton:hover {
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.deleteButton:active {
  background-color: rgb(197, 17, 17);
}

/*sidebar styling*/

.sidebar > button {
  border: none;
  border-radius: 16px;
  background-color: rgb(156, 156, 156);
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;

  margin-top: 50px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.sidebar > button:hover {
  background-color: white;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sidebar > button:active {
  background-color: rgb(92, 211, 98);
}
.sidebar > h2 {
  margin-top: 40px;
}
/*header styling*/

h1 {
  font-size: 3rem;
  margin: 20px;
}
